# Exclude directories/files not needed for image build
caddy
pg_data
node_modules
log
tmp
spec
.git
.gitignore
Dockerfile*
docker-compose*.yml
README.md
LICENSE
rails.log
server.log
server_output.log
Procfile*

/db/*.sqlite3

**/node_modules
/node_modules
/coverage
/doc
/.git
/.github
/.bundle
/.yardoc

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep

.byebug_history

/config/master.key
/public/packs-test
/public/packs
/attachments
/docuseal
.DS_Store
.env
